@model Auction_BD.Models.admin
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>login</h2>

<section class="vh-100">
    @using (Html.BeginForm())
    {
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
                         alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            

                            @Html.TextAreaFor(x => x.ad_username, new { @class = "form-control form-control-lg", @placeholder = "Username" })
                            <label class="form-label" for="form3Example3">Email address</label>
                            <span style="color:red">
                                @Html.ValidationMessageFor(x => x.ad_username)
                            </span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                           
                            @Html.PasswordFor(x => x.ad_password, new { @class = "form-control form-control-lg", @placeholder = "Password" })
                            <span style="color:red">
                                @Html.ValidationMessageFor(x => x.ad_password)
                            </span>
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>



                        <div class="text-center text-lg-start mt-4 pt-2">


                            <input type="submit" value="Login" class="btn btn-primary btn-lg" />

                        </div>

                    </form>

                    <p>@ViewBag.error</p>
                </div>
            </div>
        </div>
    }
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <!-- Right -->
    </div>

</section>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")

}