
<!DOCTYPE html>
<html>
<head>
    <style>
        .na {
            text-decoration: none;
            color: white;
        }
    </style>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse" style="">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AUCTION BD</a>
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "index", "User", null, new { @class = "ht" })</li>
                <li>@Html.ActionLink("Category", "cetagory", "User", null, new { @class = "ht" })</li>
                <li>
                    @if (Session["u_id"] != null)
                    {
                        @Html.ActionLink("Post An Ad", "CreateAd", "User", null, new { @class = "ht" })



                    }
                </li>
                <li>
                    @if (Session["u_id"] != null)
                    {
                        @Html.ActionLink("View Profile", "viewprofile", "User", new { id = Session["u_id"] }, new { @class = "ht" })
                    }
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @if (Session["u_id"] == null)
                    {

                        @Html.ActionLink("Sign In", "login", "User", null, new { @class = "ht", })

                    }
                </li>
                <li>
                    @if (Session["u_id"] == null)
                    {
                        @Html.ActionLink("Sign Up", "SignUp", "User", null, new { @class = "ht" })


                    }
                    else
                    {
                        @Html.ActionLink("Sign Out", "Signout", "User", null, new { @class = "ht" })
                    }

                <li>

                <li>
                    @if (Session["u_id"] == null)
                    {
                        @Html.ActionLink("Admin", "login", "Admin", null, new { @class = "ht" })
                    }
                </li>
            </ul>
        </div>

        @using (@Html.BeginForm("ViewAdbysearch", "User"))
        {
            <div class="navbar-form navbar-left">

                <div class="form-group">

                    @* @Html.TextBoxFor(x=>x.pro_name,null,new {@class= "form-control",@placeholder="Search" }) *@
                    <input type="text" class="form-control" placeholder="Search" name="search">

                </div>

                <button type="submit" class="btn btn-success">Search</button>

            </div>
        }


    </nav>

    @RenderBody()
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
